body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    margin: 0 auto;
}

.container {
    background-color: #1f2937;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.nav-logo {
    font-size: 24px;
    font-weight: 900;
    letter-spacing: -1px;
    color: #f9faf8;
}

nav ul li a {
    text-decoration: none;
    color:#e5e7eb;
    font-size: 18px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin-left: 30px;
}



.hero-section {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    padding: 80px 0;
}

h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    letter-spacing: -2px;
    line-height: 100%;
    margin-bottom: 0;
}

.hero-section p {
    color: #e5e7eb;
}

.hero-content-wrapper {
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    gap: 50px;
}

.content-left {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
    width: 100%;
}

.content-right {
    width: 100%;
}

img {
    border-radius: 15px;;
}

.btn-primary {
    background-color: #3882f6;
    border-radius: 10px;
    width: fit-content;
    padding: 10px 50px;
    color: #f9faf8;
    font-size: 18px;
    font-weight: 800;
    border-style: none;
}


footer {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    align-items: center;
}

footer p {
    color:#e5e7eb;
    text-align: center;
}