body {
    font-family: roboto;
    font-size: 18px;
}

header p {
    font-size: 24px;
    color: #f9faf8;
}

.hero-section {
    background-color: #1f2937;
}

.hero-section h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.hero-section p{
    color: #e5e7eb;
}

.hero-content-wrapper {
    display: flex;
    flex-direction: row;
}

.content-left {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
